<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">

    <h2>Add dose</h2>
    <%= simple_form_for [@cocktail, @dose] do |f| %>
      <p> <%= f.input :ingredient, collection: Ingredient.all %> </p>
      <p> <%= f.input :description %> </p>
      <p> <%= f.submit "add a dose", class: "btn btn-primary" %> </p>
    <% end %>

    </div>
  </div>
</div>

